.gradle
local.properties
.idea/*
build
captures
*.iml
projectFilesBackup/
.DS_Store
report.yml
Plugins/Intellij/out
Plugins/.idea/
docs/yarn.lock
Plugins/Gradle/.idea/
Plugins/Gradle/gradle/wrapper/
Plugins/Gradle/gradlew
Plugins/Gradle/gradlew.bat
