<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-sdk tools:overrideLibrary="io.mockk, io.mockk.proxy.android" />

    <application android:theme="@style/Theme.MaterialComponents.Light.DarkActionBar">
        <activity android:name="dev.testify.TestActivity" />
    </application>

</manifest>
